@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-primary: #57cc9b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand-primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* brand can stay same or change */
    /* --brand-primary: #4bbf90; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero-dotted {
  background-color: #0a0f0d;

  background-image:
    radial-gradient(
      circle at 1px 1px,
      rgba(255, 255, 255, 0.055) 3px,
      transparent 0
    ),

    radial-gradient(
      ellipse at 15% 0%,
      rgba(87, 204, 155, 0.18),
      transparent 55%
    ),

    radial-gradient(
      ellipse at 85% 0%,
      rgba(87, 204, 155, 0.18),
      transparent 55%
    ),

    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.65),
      transparent 35%
    );

  background-size:
    26px 26px,
    100% 100%,
    100% 100%,
    100% 100%;
}

